<br>
<div id="editDonation">
  <form [formGroup]="donationForm" (ngSubmit)="onSubmit()" class="donationForm">
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input formControlName="amount" matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select formControlName="currency">
        <mat-option value="EUR">EUR</mat-option>
        <mat-option value="RON">RON</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>Donators</mat-label>
      <input #donatorAutoCompleteInput
             type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             formControlName="donator"
             [matAutocomplete]="auto1"
             (focus)="filterDonators(donatorAutoCompleteInput.value)"
             (input)="filterDonators(donatorAutoCompleteInput.value)"
      >
      <mat-autocomplete #auto1="matAutocomplete" [displayWith]="donatorAutocompleteFormatterFn">
        <mat-option *ngFor="let donator of filteredDonators" [value]="donator">
          {{donator.lastName + " " + donator.firstName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>Campaigns</mat-label>
      <input #campaignsAutoCompleteInput
             type="text"
             placeholder="Pick one"
             aria-label="Number"
             formControlName="campaign"
             matInput
             [matAutocomplete]="auto2"
             (focus)="filterCampaigns(campaignsAutoCompleteInput.value)"
             (input)="filterCampaigns(campaignsAutoCompleteInput.value)"
      >
      <mat-autocomplete #auto2="matAutocomplete" [displayWith]="campaignAutocompleteFormatterFn">
        <mat-option *ngFor="let campaign of filteredCampaigns" [value]="campaign">
          {{campaign.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Notes</mat-label>
      <textarea matInput formControlName="notes" maxlength="255"></textarea>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]=!donationForm.valid>Save updated Donation</button>
  </form>
</div>
