<h2>{{ getTranslatedMessage('@@selectDonorToDelete') }}</h2>

<div id="donorList">
  <table mat-table [dataSource]="donors">

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef class="donorListRow">{{ getTranslatedMessage('@@fullName') }}</th>
      <td mat-cell *matCellDef="let donor"> <strong>{{ (donor.firstName ? donor.firstName + ' ' : '') +
      (donor.lastName ? donor.lastName + ' ' : '')  }} </strong>  {{
      (donor.additionalName ? donor.additionalName + ' ' : '') +
      (donor.maidenName ? donor.maidenName : '') }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="donorListRow">{{ getTranslatedMessage('@@actionHeader') }}</th>
      <td mat-cell *matCellDef="let donor" class="deleteButton" (click)="deleteDonor(donor)">{{ getTranslatedMessage('@@delete') }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
</div>
