#donorTable {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px solid #e64a19;
}

#donorTable th,
#donorTable td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

#donorTable th {
  background-color: #e64a19;
  color: white;
}

#donorTable a {
  color: #000000;
  text-decoration: none;
}

#donorTable a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

/* Remove the hover color change for rows */
.selected-row {
  background-color: #e64a19;
}

.deleteButton:hover {
  background-color: #e64a19;
}

.deleteButton {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 0.5em;
  padding-top: .6em;
  padding-bottom: .6em;
  color: #fff;
  background-color: #ff5c5c;
  border-radius: 5px;
  border: solid #cccccc 1px;
  box-shadow: 2px 2px 1px #888888;
  clear: right;
  float: right;
}

.donorListRow {
  width: 900px;
}
