<h2>{{ getTranslatedMessage('@@selectDonorToDelete') }}</h2>
<table id="donorTable">
  <thead>
  <tr>
    <th id="fullNameHeader">{{ getTranslatedMessage('@@fullName') }}</th>
    <th>{{ getTranslatedMessage('@@actionHeader') }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let donor of donors" id="donorRow">
    <td>{{ (donor.firstName ? donor.firstName + ' ' : '') +
    (donor.lastName ? donor.lastName + ' ' : '') +
    (donor.additionalName ? donor.additionalName + ' ' : '') +
    (donor.maidenName ? donor.maidenName : '') }}
    </td>
    <td><button class="deleteButton" (click)="deleteDonor(donor)">{{ getTranslatedMessage('@@delete') }}</button></td>
  </tr>
  </tbody>
</table>
