<h2>{{ getTranslatedMessage('@@addDonor') }}</h2>
<form [formGroup]="donorForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstname">{{ getTranslatedMessage('@@firstName') }}<span style="color: red;">*</span>:</label>
    <input id="firstname" type="text" formControlName="firstName" (focus)="clearSuccessMessage()">
  </div>

  <div>
    <label for="lastname">{{ getTranslatedMessage('@@lastName') }}<span style="color: red;">*</span>:</label>
    <input id="lastname" type="text" formControlName="lastName" (focus)="clearSuccessMessage()">
  </div>
  <div>
    <label for="additionalname">{{ getTranslatedMessage('@@additionalName') }}:</label>
    <input id="additionalname" type="text" formControlName="additionalName">
  </div>
  <div>
    <label for="maidenname">{{ getTranslatedMessage('@@maidenName') }}:</label>
    <input id="maidenname" type="text" formControlName="maidenName">
  </div>

  <p>{{ getTranslatedMessage('@@mandatoryFieldsMessage') }}</p>
  <div *ngIf="missingFields" style="color: red;">{{ getTranslatedMessage('@@missingFieldsMessage') }}</div>
  <button class="createButton" color="primary" type="submit" [disabled]="!donorForm.valid">
    {{ getTranslatedMessage('@@addDonorButton') }}
  </button>
</form>
