<h2>{{ getTranslatedMessage('@@editDonatorTitle') }}</h2>
<form>
  <label for="firstName">{{ getTranslatedMessage('@@firstName') }}<span style="color: red;">*</span>:</label>
  <input type="text" id="firstName" [(ngModel)]="donatorDetails.firstName" name="firstName" required><br>

  <label for="lastName">{{ getTranslatedMessage('@@lastName') }}<span style="color: red;">*</span>:</label>
  <input type="text" id="lastName" [(ngModel)]="donatorDetails.lastName" name="lastName" required><br>

  <label for="additionalName">{{ getTranslatedMessage('@@additionalName') }}:</label>
  <input type="text" id="additionalName" [(ngModel)]="donatorDetails.additionalName" name="additionalName"><br>

  <label for="maidenName">{{ getTranslatedMessage('@@maidenName') }}:</label>
  <input type="text" id="maidenName" [(ngModel)]="donatorDetails.maidenName" name="maidenName"><br>

  <!-- Add more input fields for other properties -->
  <div *ngIf="missingFields" style="color: red;">{{ getTranslatedMessage('@@missingFieldsMessage') }}</div>
  <button class="button-style" (click)="saveDonator()">{{ getTranslatedMessage('@@saveButton') }}</button><br>

  <button class="button-style" (click)="navigateToEditDonator()">{{ getTranslatedMessage('@@seeUsersListButton') }}</button>
</form>
