<br><br>
<h2>Change Password</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="password">New password:</label>
    <input type="password" id="password" formControlName="password" required>
  </div>
  <div>
    <label for="passwordConfirm">Confirm password:</label>
    <input type="password" id="passwordConfirm" formControlName="passwordConfirm" required>
  </div>
  <p>Complete the form to enable button.</p>
  <button class="loginButton" mat-stroked-button color="primary" type="submit" [disabled]="!changePasswordForm.valid">Save</button>
</form>
