<h2>{{getTranslatedMessage('@@editCampaign')}}</h2>
<p>{{getTranslatedMessage('@@selectCampaignToEdit')}}</p>
<div *ngIf="successMessage" style="color: green;">{{ successMessage }}</div>
<table id="campaignTable">
  <thead>
  <tr>
    <th id="nameH"> {{getTranslatedMessage('@@campaignName')}} </th>
    <th id="purposeH"> {{getTranslatedMessage('@@campaignPurpose')}} </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let campaign of campaigns" id="campaignRow"
      [ngClass]="{'edited-row': campaign.id === editedCampaignId}"
      (dblclick)="navigateToEditCampaign(campaign)">
    <td id="name"> {{campaign.name}} </td>
    <td id="purpose"> {{campaign.purpose}} </td>
  </tr>
  </tbody>
</table>
