h2 {
  margin-top: 5vh;
  text-align: left;
}

form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#campaignTable {
  width: 80%;
  margin: 0 auto;
  max-height: 73%;
  overflow: auto;
  border-style: solid;
  border-width: thin;
  border-color: #555555;
  border-radius: 5px;
}

#campaignTable a {
  color: #000000;
  text-decoration: none;
}

#campaignTable a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

#campaignRow:hover {
  background-color: #e64a19;
  color: white;
}

.selected-row {
  background-color: #e64a19;
}

.edited-row {
  background-color: #e64a19;
}

.editMessage {
  padding: 0px 150px !important;
}

.role-row-is-clicked {
  background-color: orangered !important;
}

tr.mat-mdc-row:nth-child(odd) {
  background-color: #e1e2e3;
}
