.mat-mdc-row:hover .mat-mdc-cell {
  background-color: lightgray;
}

#roles_table_div {
  display:inline-block;
  width: 40%;
}

#rights_div {
  display:inline-block;
  align-self: end;
  width: 40%;
}

.role-row-is-clicked {
  background-color: lightgreen;
}

#roles_table_div {
  border: 2px solid;
  border-color: #888888;
  margin: auto;
  width: 25%;
  padding: 10px;
  left: 10%;
  position: absolute;
}

#rights_div {
  border: 2px solid;
  border-color: #888888;
  margin: auto;
  width: 25%;
  padding: 10px;
  right: 11%;
  position: absolute;
}
