<div id="roles_table_div">
<table mat-table [dataSource]="rolesList" #rolesTable id="roles_table">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Role ID </th>
    <td mat-cell *matCellDef="let role"> {{role.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Role ID </th>
    <td mat-cell *matCellDef="let role"> {{role.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="selectedRole=row"
    (click)="onSelected()"
    [class.role-row-is-clicked]="selectedRole==row"
    *matRowDef="let row; columns: displayedColumns;"
  ></tr>

</table>
</div>
<div id="rights_div">
<mat-selection-list #rights id="rights"
  [(ngModel)]="selectedRights"
  (ngModelChange)="onNgModelChange()"
  disabled="{{!selected}}">
  <mat-list-option *ngFor="let right of possibleRights" [value]="right">
    {{right}}</mat-list-option>
</mat-selection-list>
</div>

<button mat-stroked-button disabled="{{!selected}}" (click)="saveRights()">Save</button>
