<div class="users-list">
  <h2>{{getTranslatedMessage("@@usersList")}}</h2>
  <table>
    <thead>
    <tr>
      <th>{{getTranslatedMessage('@@firstName')}}</th>
      <th>{{getTranslatedMessage('@@lastName')}}</th>
      <th>E-Mail</th>
      <th>{{getTranslatedMessage('@@phoneNumber')}}</th>
      <th>{{getTranslatedMessage('@@username')}}</th>
      <th>{{getTranslatedMessage('@@roles')}}</th>
      <th>{{getTranslatedMessage('@@actionHeader')}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="firstName">
        <ng-container *ngIf="user.id !== editUserId; else editFirstNameField">
          {{ user.firstName }}
        </ng-container>
        <ng-template #editFirstNameField>
          <input type="text" [formControl]="userEditData[user.id]['firstName']" [ngClass]="{ 'invalid-field': userEditData[user.id]['firstName'].invalid }" />
        </ng-template>
      </td>
      <td class="lastName">
        <ng-container *ngIf="user.id !== editUserId; else editLastNameField">
          {{ user.lastName }}
        </ng-container>
        <ng-template #editLastNameField>
          <input type="text" [formControl]="userEditData[user.id]['lastName']" [ngClass]="{ 'invalid-field': userEditData[user.id]['lastName'].invalid }" />
        </ng-template>
      </td>
      <td class="email">
        <ng-container *ngIf="user.id !== editUserId; else editEmailField">
          {{ user.email }}
        </ng-container>
        <ng-template #editEmailField>
          <input type="text" [formControl]="userEditData[user.id]['email']" [ngClass]="{ 'invalid-field': userEditData[user.id]['email'].invalid }" />
        </ng-template>
      </td>
      <td class="phone">
        <ng-container *ngIf="user.id !== editUserId; else editPhoneNumberField">
          {{ user.mobileNumber }}
        </ng-container>
        <ng-template #editPhoneNumberField>
          <input type="text" [formControl]="userEditData[user.id]['mobileNumber']" [ngClass]="{ 'invalid-field': userEditData[user.id]['mobileNumber'].invalid }" />
        </ng-template>
      </td>
      <td class="username">
        <ng-container *ngIf="user.id !== editUserId; else editUsernameField">
          {{ user.username }}
        </ng-container>
        <ng-template #editUsernameField>
          <span *ngIf="user.id !== editUserId">{{ user.username }}</span>
        </ng-template>
      </td>
      <td class="roles">
        <ng-container *ngIf="user.id !== editUserId; else editRolesField">
          {{ getRoleNames(user.roles) }}
          <span class="tooltip-text">{{ getRoleNames(user.roles) }}</span>
        </ng-container>
        <ng-template #editRolesField>
          <span *ngIf="user.id !== editUserId">{{ getRoleNames(user.roles) }}</span>
        </ng-template>
      </td>
      <td class="edit">
        <button class="edit-button" (click)="editOrSaveUser(user)">
          {{ editUserId === user.id ? getTranslatedMessage('@@saveButton') : getTranslatedMessage('@@edit') }}
        </button>

      </td>
      <td class="toggleActive">
        <button class="active" [class]="user.active ? 'activation-button deactivate' : 'activation-button reactivate'" (click)="toggleActivation(user)">
          {{ user.active ? getTranslatedMessage('@@deactivateButton') : getTranslatedMessage('@@reactivateButton') }}
        </button>

      </td>
    </tr>
    </tbody>
  </table>
</div>

