<nav>
  <div class="language-dropdown">
    <button class="language-button">
      {{ selectedLanguage === 'en' ? getTranslatedMessage('@@english') : getTranslatedMessage('@@romanian') }}
    </button>
    <div class="dropdown-content">
      <a (click)="switchLanguage('en')">{{ getTranslatedMessage('@@english') }}</a>
      <a (click)="switchLanguage('ro')">{{ getTranslatedMessage('@@romanian') }}</a>
    </div>
  </div>

  <a *ngIf="(authService.isLoggedIn$ | async)" routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">{{getTranslatedMessage('@@users')}}</a>
  <a *ngIf="(authService.isLoggedIn$ | async)" routerLink="/rights" routerLinkActive="active" ariaCurrentWhenActive="page">{{getTranslatedMessage('@@rights')}}</a>
  <a *ngIf="(authService.isLoggedIn$ | async)" routerLink="/create-user" routerLinkActive="active" ariaCurrentWhenActive="page">{{getTranslatedMessage('@@createUser')}}</a>

  <div class="dropdown" *ngIf="(authService.isLoggedIn$ | async)">
    <a routerLink="/donator/create" routerLinkActive="active" ariaCurrentWhenActive="page">{{ getTranslatedMessage('@@donor') }}</a>
    <div class="dropdown-content">
      <a routerLink="/donator/create" routerLinkActive="active" ariaCurrentWhenActive="page">{{ getTranslatedMessage('@@create') }}</a>
      <a routerLink="/donator/edit" routerLinkActive="active" ariaCurrentWhenActive="page">{{ getTranslatedMessage('@@edit') }}</a>
      <a routerLink="/donator/delete" routerLinkActive="active" ariaCurrentWhenActive="page">{{ getTranslatedMessage('@@delete') }}</a>
    </div>
  </div>
  <a *ngIf="(authService.isLoggedIn$ | async)" routerLink="/donation-reporting" routerLinkActive="active" ariaCurrentWhenActive="page">{{ getTranslatedMessage('@@donationReporting') }}</a>
  <a *ngIf="(authService.isLoggedIn$ | async)" routerLink="/donation/addDonation" routerLinkActive="active" ariaCurrentWhenActive="page">{{getTranslatedMessage('@@addDonation')}}</a>
  <a *ngIf="(authService.isLoggedIn$ | async)" routerLink="/campaign-reporting" routerLinkActive="active" ariaCurrentWhenActive="page">{{ getTranslatedMessage('@@campaignReporting') }}</a>
  <ng-template #loginLink>
    <a routerLink="/login" routerLinkActive="active" aria-current="page">{{ getTranslatedMessage('@@login') }}</a>
  </ng-template>
  <div class="dropdown" *ngIf="(authService.isLoggedIn$ | async)">
    <a routerLink="campaign/create" routerLinkActive="active" ariaCurrentWhenActive="page">{{ getTranslatedMessage('@@campaign') }}</a>
    <div class="dropdown-content">
      <a routerLink="/campaign/create">{{ getTranslatedMessage('@@create') }}</a>
      <a routerLink="/campaign/list">{{ getTranslatedMessage('@@edit') }}</a>
      <a routerLink="/campaign/delete">{{ getTranslatedMessage('@@delete') }}</a>
    </div>
  </div>
  <a *ngIf="(authService.isLoggedIn$ | async); else loginLink" (click)="logout()" aria-current="page">{{ getTranslatedMessage('@@logout') }}</a>

</nav>
<router-outlet></router-outlet>
