nav {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-right: 30px;
}

nav a:hover {
  background-color: #555;
}

nav a.active {
  background-color: #ff5722;
}

nav a:last-child {
  margin-right: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; /* Position the dropdown below the link */
  left: 0; /* Align the dropdown with the link */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

mat-icon{
  color: white;
}
