<nav>

  <a *ngIf="(authService.isLoggedIn$ | async)" routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">Users</a>
  <a *ngIf="(authService.isLoggedIn$ | async)" routerLink="/rights" routerLinkActive="active" ariaCurrentWhenActive="page">Rights</a>
  <a *ngIf="(authService.isLoggedIn$ | async)" routerLink="/create-user" routerLinkActive="active" ariaCurrentWhenActive="page">Create New User</a>

  <div class="dropdown" *ngIf="(authService.isLoggedIn$ | async)">
    <a routerLink="/donator/create" routerLinkActive="active" ariaCurrentWhenActive="page">Donor</a>
    <div class="dropdown-content">
      <a routerLink="/donator/create" routerLinkActive="active" ariaCurrentWhenActive="page">Create</a>
      <a routerLink="/donator/edit" routerLinkActive="active" ariaCurrentWhenActive="page">Edit</a>
      <a routerLink="/donator/delete" routerLinkActive="active" ariaCurrentWhenActive="page">Delete</a>
    </div>
  </div>
  <a *ngIf="(authService.isLoggedIn$ | async)" routerLink="/donation-reporting" routerLinkActive="active" ariaCurrentWhenActive="page">Donation Reporting</a>
  <a *ngIf="(authService.isLoggedIn$ | async)" routerLink="/donation/addDonation" routerLinkActive="active" ariaCurrentWhenActive="page">Add Donation</a>
  <a *ngIf="(authService.isLoggedIn$ | async)" routerLink="/campaign-reporting" routerLinkActive="active" ariaCurrentWhenActive="page">Campaign Reporting</a>
  <a *ngIf="(authService.isLoggedIn$ | async); else loginLink" (click)="logout()" aria-current="page">Logout</a>

  <ng-template #loginLink>
    <a routerLink="/login" routerLinkActive="active" aria-current="page">Login</a>
  </ng-template>
  <div class="dropdown" *ngIf="(authService.isLoggedIn$ | async)">
    <a routerLink="campaign/create" routerLinkActive="active" ariaCurrentWhenActive="page">Campaign</a>
    <div class="dropdown-content">
      <a routerLink="/campaign/create">Create</a>
      <a routerLink="/campaign/list">Edit</a>
      <a routerLink="/campaign/delete">Delete</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
