<nav>
  <a *ngIf="isLoggedIn; else loginLink" (click)="logout()" aria-current="page">Logout</a>
  <ng-template #loginLink>
    <a routerLink="/login" routerLinkActive="active" aria-current="page">Login</a>
  </ng-template>
  <a routerLink="/create-user" routerLinkActive="active" ariaCurrentWhenActive="page">Create New User</a>
  <a routerLink="/rights" routerLinkActive="active" ariaCurrentWhenActive="page">Rights</a>
  <a routerLink="/donation/addDonation" routerLinkActive="active" ariaCurrentWhenActive="page">Add Donation</a>
  <a routerLink="/donation/updateDonation" routerLinkActive="active" ariaCurrentWhenActive="page">Edit Donation</a>
  <div class="dropdown">
    <a routerLink="/donator/create" routerLinkActive="active" ariaCurrentWhenActive="page">Donor</a>
    <div class="dropdown-content">
      <a routerLink="/donator/create" routerLinkActive="active" ariaCurrentWhenActive="page">Create</a>
      <a routerLink="/donator/edit" routerLinkActive="active" ariaCurrentWhenActive="page">Edit</a>
      <a routerLink="/donator/delete" routerLinkActive="active" ariaCurrentWhenActive="page">Delete</a>
    </div>
  </div>
  <div class="dropdown">
    <a routerLink="/campaign/create" routerLinkActive="active" ariaCurrentWhenActive="page">Campaign</a>
    <div class="dropdown-content">
      <a routerLink="/campaign/create">Create</a>
      <a routerLink="/campaign/update">Edit</a>
      <a routerLink="/campaign/delete">Delete</a>
    </div>
  </div>
  <a routerLink="/donation-reporting" routerLinkActive="active" ariaCurrentWhenActive="page">Donation Reporting</a>
</nav>
<router-outlet></router-outlet>
