<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="userForm">
  <div>
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" formControlName="firstName">
  </div>

  <div>
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" formControlName="lastName" />
    </div>

  <div>
  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email" />

  </div>

  <div>
  <label for="mobileNumber">Phone Number:</label>
  <input type="mobileNumber" id="mobileNumber" formControlName="mobileNumber" />

  </div>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <p>Complete the form to enable button</p>
  <button type="submit" [disabled]=!userForm.valid>Create new User</button>
</form>



