.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

h2 {
  text-align: center;
}

form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.spinner-overlay {
    position: absolute;
    display: flex;
    align-items: baseline;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 2;
}

.userForm {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    text-align: center; /* Center align the form */
}

.form-title {
    margin-top: 0; /* Remove default margin */
    color: #333; /* Set the title color */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Apply bold style */
}


input {
    width: 50%; /* Adjust field width */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto; /* Center align the input within its container */
}

.mat-select {
    width: 50%; /* Adjust field width */
    margin: 0 auto; /* Center align the select within its container */
}

.form-field {
    margin-bottom: 10px;
    align-items: center;
}

.spinner {
    width: 300px;
    height: 64px;
    color: #ff5722;
  alignment-baseline: baseline;
}


div {
  margin-bottom: 10px;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.addButton {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  justify-content: center;
  margin-top: 10px;
}

.addButton:hover {background-color: #e64a19;
}

.error-message {
  color: #c82333;
}

.success-message {
  color: #28a745;
}

.userCreationDiv {
  padding: 5% 0%;
}
