<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="userForm">
  <div>
  <label for="firstName">First Name *:</label>
  <input type="text" id="firstName" formControlName="firstName">
  </div>

  <div>
  <label for="lastName">Last Name *:</label>
  <input type="text" id="lastName" formControlName="lastName" />
    </div>

  <div>
  <label for="email">Email *:</label>
  <input type="email" id="email" formControlName="email" />

  </div>

  <div>
  <label for="mobileNumber">Phone Number *:</label>
  <input type="mobileNumber" id="mobileNumber" formControlName="mobileNumber" />
  </div>

 <!-- <mat-form-field>
    <mat-label>Roles</mat-label>
    <mat-select [formControl]="rolesControl" multiple>
      <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
    </mat-select>
  </mat-form-field>-->



  <mat-form-field>
    <mat-label>Roluri</mat-label>
    <mat-select formControlName="roles" multiple >
      <mat-option *ngFor="let role of rolesList" [value]="role.name">{{role.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="spinner-overlay" *ngIf="isCreatingUser">
    <mat-spinner class="spinner"></mat-spinner>
  </div>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <p>Complete the form to enable button</p>
  <button class="addButton" type="submit" [disabled]=!userForm.valid>Create new User</button>
</form>




