<h2>{{ getTranslatedMessage('@@loginTitle') }}</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">{{ getTranslatedMessage('@@username') }}:</label>
    <input type="text" id="username" formControlName="username" required>
  </div>
  <div>
    <label for="password">{{ getTranslatedMessage('@@password') }}:</label>
    <input type="password" id="password" formControlName="password" required>
  </div>
  <p>{{ getTranslatedMessage('@@completeForm') }}</p>
  <button class="loginButton" mat-stroked-button color="primary" type="submit" [disabled]="!loginForm.valid">{{ getTranslatedMessage('@@loginButton') }}</button>
</form>
