form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.deleteButton {
  display: inline-block;
  align-content: center;
  width: 100%;
  height: 100%;
  margin-top: 0.5em;
  padding-top: .5em;
  padding-bottom: .5em;
  color: #fff;
  background-color: #ff5c5c;
  border-radius: 5px;
  border: solid #cccccc 1px;
  box-shadow: 2px 2px 1px #888888;
  clear: right;
  float: right;
}

.deleteButton:hover {background-color: #e64a19;
}

#campaignTable {
  align-self: center;
  overflow: auto;
  width: 70%;
  max-height: 75% !important;
  border-style: solid;
  border-width: thin;
  border-color: #555555;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

#campaignTable th,
#campaignTable td {
  padding: 8px;
  text-align: center;
}

#campaignTable a {
  color: #000000;
  text-decoration: none;
}

#campaignTable a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.donorListRow {
  width: 90%;
}

.deleteMessage {
  padding: 0px 15% !important;
}

tr.mat-mdc-row:nth-child(odd) {
  background-color: #e1e2e3;
}

h2 {
  margin-top: 5vh;
  text-align: left;
}

.role-row-is-clicked {
  background-color: orangered !important;
}
