<div class="donorList">
  <table mat-table [dataSource]="donors" id="donorList">

    <ng-container matColumnDef="donorFullName">
      <th mat-header-cell *matHeaderCellDef class="donationRow">{{ getTranslatedMessage('@@donationID') }}</th>
      <td mat-cell *matCellDef="let donor">{{ donor.firstName + ' ' + donor.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="additionalName">
      <th mat-header-cell *matHeaderCellDef class="donationRow">{{ getTranslatedMessage('@@approved') }}</th>
      <td mat-cell *matCellDef="let donor">{{ donor.additionalName }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="maidenName">
      <th mat-header-cell *matHeaderCellDef class="donationRow">{{ getTranslatedMessage('@@notes') }}</th>
      <td mat-cell *matCellDef="let donor">{{ donor.maidenName }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      (click)="selectedDonator=row"
      (dblclick)="navigateToEditDonator(selectedDonator!)"
      [class.role-row-is-clicked]="selectedDonator==row"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
</div>
