.filter-search-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.search-label {
  margin-right: 10px;
}

.search-input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.search-input:focus {
  border-color: #007bff;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.filter-dropdown {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #333;
}

.filter-dropdown:focus {
  outline: none;
  border-color: #007bff;
}

.donation-list {
  list-style-type: none;
  padding: 0;
}

.donation-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.donation-item p {
  margin: 0;
  padding: 5px 0;
}

.donation-id {
  font-weight: bold;
  color: #ff5722;
}

.donation-amount {
  color: #007bff;
}

.donation-currency {
  color: blueviolet;
}

.donation-created {
  color: darkmagenta;
}

.donation-notes {
  font-style: italic;
  color: #333;
}

.approved-green {
  color: green;
}

.not-approved-red {
  color: red;
}

<<<<<<< Updated upstream
.delete-button {
  padding: 8px 15px;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c82333;
}
=======
.approve-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.approve-button:hover {
  background-color: #218838;
}

>>>>>>> Stashed changes

