<div class="filter-search-container">
<div class="filter-container">
  <label class="filter-label" for="filterCriteria">Filter by:</label>
  <select class="filter-dropdown" id="filterCriteria" [(ngModel)]="selectedFilterCriteria" (ngModelChange)="applyFilter()">
    <option value="selectCriteria">Select criteria...</option>
    <option value="Approved">Approved</option>
    <option value="currency">Currency</option>
    <!-- Add more filtering criteria options here -->
  </select>
</div>

<div class="search-container">
  <label class="search-label" for="searchInput">Search:</label>
  <input class="search-input" type="text" id="searchInput" [(ngModel)]="searchQuery" (input)="applySearch()">
</div>
</div>


<div *ngIf="selectedFilterCriteria === 'currency'">
  <label class="filter-label" for="currencyFilter">Select Currency:</label>
  <select class="filter-dropdown" id="currencyFilter" [(ngModel)]="selectedCurrency" (ngModelChange)="applyFilter()">
    <option value="EUR">EUR</option>
    <option value="USD">USD</option>
    <option value="RON">RON</option>
  </select>
</div>

<ul>
  <li class="donation-item" *ngFor="let donation of filteredDonations">
          <div>
            <p class="donation-id">Donation ID: {{ donation.id }}</p>
            <p class="donation-amount">Amount: {{ donation.amount }}</p>
            <p class="donation-currency">Currency: {{ donation.currency }}</p>
            <p class="donation-created">Created at: {{ donation.createdDate }}</p>
            <p class="donation-approval" [style.color]="donation.approved ? 'green' : 'red'">
              Approved: {{ donation.approved }}
            </p>
            <p class="donation-notes">Notes: {{ donation.notes }}</p>
          </div>
    <button mat-stroked-button disabled="{{donation.approved}}" (click)="editDonation()">Edit</button>
  </li>
</ul>


