<div class="filter-search-container">
  <div class="search-container">
    <label class="search-label" for="searchInput">{{ getTranslatedMessage('@@search') }}</label>
    <input class="search-input" type="text" id="searchInput" [(ngModel)]="searchQuery" (input)="applySearch()">
  </div>
</div>
<div>
  <button id="exportButton" class="exportButton" (click)="exportSelectedCampaigns()">{{getTranslatedMessage('@@exportAsCSV')}}</button>
</div>
<ul>
  <li class="campaign-item" *ngFor="let campaign of filteredCampaigns">
    <div>
      <p class="campaign-id">{{ getTranslatedMessage('@@campaignID') }}: {{ campaign.id }}</p>
      <p class="campaign-purpose">{{ getTranslatedMessage('@@campaignPurpose') }}: {{ campaign.purpose }}</p>
      <p class="campaign-name">{{ getTranslatedMessage('@@campaignName') }}: {{ campaign.name }}</p>
    </div>
  </li>
</ul>
